body {
    margin: 0%;
    background-color: #d1f78a;
}

.container{
    background-color: #38ed98;
    height: 20%;
    width: 100%;


}
.logo{
    position: absolute;
    margin-top: -9%;
    transform: translate(0%, 0%);
}

.Titulo{
    transform: translate(0%, 0%);
    margin-left: 40%;
    margin-top: -90;
    color: azure;
    font-size: 300%;
}

.slogan{
  margin-top: 10%;
  background-color: #ffec8c;
  font-size: 250%;
  font-family: Brush Script MT;
  text-align: center;
  padding-top: 1%;
  height: 10%;
}

.cont{
  font-size: 225%;
  font-family: Brush Script MT;
  text-align: center;
}

.container1{
  background-color: #9093f6;
  width: 40%;
  margin-left: 2%;
  padding-left: 1%;
  height: 62%;
}

.container1 img{
  margin-left: 15%;
}

.text{
  font-size: 170%;
  text-align: center;
}

.froms1{
  text-align: center;
  margin-top: 2%;
}

.container2{
  margin-top: 2%;
  background-color: #9093f6;
  width: 40%;
  margin-left: 2%;
  padding-left: 1%;
  height: 62%;
}

.container2 img{
  margin-left: 15%;
  margin-top: 5%;
}

.text1{
  font-size: 170%;
  text-align: center;
}

.froms2{
  text-align: center;
  margin-top: 2%;
}

.container3{
  margin-top: 2%;
  background-color: #9093f6;
  width: 40%;
  margin-left: 2%;
  padding-left: 1%;
  height: 62%;
}

.container3 img{
  margin-left: 15%;
  margin-top: 5%;
}

.text1{
  font-size: 170%;
  text-align: center;
}

.froms3{
  text-align: center;
  margin-top: 2%;
}

.container4{
  margin-top: -94%;
  background-color: #9093f6;
  width: 40%;
  margin-left: 56%;
  padding-left: 1%;
  height: 62%;

}

.container4 img{
  margin-left: 15%;
  margin-top: 0%;
}

.text2{
  font-size: 170%;
  text-align: center;
}

.froms4{
  text-align: center;
  margin-top: 2%;
}


.container5{
  margin-top: 2%;
  background-color: #9093f6;
  width: 40%;
  margin-left: 56%;
  padding-left: 1%;
  height: 62%;

}

.container5 img{
  margin-left: 25%;
  margin-top: 5%;
}

.text3{
  font-size: 170%;
  margin-left: 5%;
  text-align: center;
}

.froms5{
  text-align: center;
  margin-top: 2%;
}


.container6{
  margin-top: 2%;
  background-color: #9093f6;
  width: 40%;
  margin-left: 56%;
  padding-left: 1%;
  height: 62%;

}

.container6 img{
  margin-left: 15%;
  margin-top: 5%;
}

.text1{
  font-size: 170%;
  text-align: center;
}

.froms6{
  text-align: center;
  margin-top: 2%;
}

.fornular{
  padding: 1%;
  font-family: Brush Script MT;
  font-size: 225%;
  text-align: center;
}

.forms{
  text-align: center;
  background-color: #dfb4e7;
  width: 25%;
  margin-top: 2%;
  margin-left: 35%;
  height: 70%;

}

.reg{
  font-family: Brush Script MT;
  font-size: 300%;
}

.place{
  height: 15%;
  width: 70%;
  background-color: #ffe3ff;
}

.boton{
  margin-top: 2%;
  width: 30%;
  height: 10%;
}

.select{
  display: inline-block;
  margin-left: 25%;

}

.past{
  font-family: Brush Script MT;
  font-size: 300%;
}

.contr{
  font-size: 200%;
  margin-left: 10%;
}

.punt{
  margin-left: 30%;
  height: 10%;
  width: 30%;
}

.fin{
  font-family: Brush Script MT;
  font-size: 200%;
}

.fina{
  margin-top: 2%;
  margin-left:25%;
}
